@(user: User, posts: List[Post], loggedInUser: Option[User])

@main("Posts of " + user.username, loggedInUser) {
    
    <h1>Posts of @user.username</h1>
    
    @if(loggedInUser == Some(user)){
      @helper.form(action = routes.UserActions.addPost(user.id) ) {
        <div>
          <textarea name="post" cols="40" rows="3"></textarea>
        </div>
        <div>
          <button type="submit">Post</button>
        </div>
      }
    }
    
    <ul class="posts">
      @for(p <- posts){
        <li class="post">@p.text</li>
      }
    </ul>
    
}
