@(user: User, posts: List[Post], postForm:Form[UserActions.PostData],
   loggedInUser: Option[User])

@main("Posts of " + user.username, loggedInUser) {
    
    <h1>Posts of @user.username</h1>
    
    @if(loggedInUser == Some(user)){
      @helper.form(action = routes.UserActions.addPost(user.id) ) {
        <div>
            @if(postForm("post").hasErrors){
              <div class="alert alert-error">@postForm("post").error.get.message</div>
            }
          <textarea name="post" cols="40" rows="3"></textarea>
        </div>
        <div>
          <button type="submit">Post</button>
        </div>
      }
    }
    
    <ul class="posts">
      @for(p <- posts){
        <li class="post">
          <div class="well">
            <p>@p.text</p>
            <p class="timestamp">&mdash; @p.prettyTime</p></div>
        </li>
      }
    </ul>
    
}
