@(loggedInUser: Option[User])

<ul class="nav nav-tabs">  
  @if(loggedInUser.isDefined) {
    <li>
      <a href="@routes.UserActions.posts(loggedInUser.get.id)">
        [ <strong>@loggedInUser.get.username</strong> ]
      </a>
    </li>
  }
  
  <li><a href="@routes.UserActions.index()">Users</a></li>
  
  @if(loggedInUser.isDefined) {
    <li>
      <a href="@routes.Application.doLogOut()">
       Log out
      </a>
    </li>
  } else {
    <li><a href="@routes.Application.logIn()">Log in</a></li>
  }
</ul>